*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 50vh;
    right: 0px;
}
